@import "tailwindcss";

:root {
  /* Cambiá estos valores por los oficiales si fueran distintos */
  --ea-bg: 0 0 0;          /* Negro fondo */
  --ea-surface: 12 12 12;  /* Superficie oscura */
  --ea-olive: 75 83 32;    /* #4B5320  Verde oliva */
  --ea-gold: 201 162 39;   /* #C9A227  Dorado institucional */
  --ea-white: 255 255 255; /* Blanco */
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}